body {
    font-family: Arial;
}

#env {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#div-canvas {
    /* float: left; */
    position: relative;
    margin: 10px;
    width: 800px;
    height: 600px;
}

#div-canvas canvas {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    left: 0;
    top: 0;
}

#div-output {
    /* float: right; */
    margin: 10px;
}

canvas {
    border: 1px solid black;
}